<%# html %><%# body %><%# div#wrapper%><%# main %>
                <section id="logged-in" class="account-page">
                    <h1><%- title %></h1>
                    <p>You're logged in</p>
                </section>