<%# html %><%# body %><%# div#wrapper%><% const d=new Date();let year=d.getFullYear() %>
            <footer>
                <p class="copyright">&copy; <%=year%>, CSE 340 App&nbsp;&nbsp;&nbsp;<a href="/inv/ouch" title="Will trigger intentional exception">throw error</a></p>
            </footer>