<%# html %>
    <%# body %>
        <%# div#wrapper%>
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/cars/custom" title="Custom Cars">Custom</a></li>
                    <li><a href="/cars/sedan" title="Sedans">Sedan</a></li>
                    <li><a href="/cars/suv" title="SUVs">SUV</a></li>
                    <li><a href="/trucks" title="Trucks">Truck</a></li>
                </ul>
            </nav>
