<%# html %><%# body %><%# div#wrapper%><%# main %>
                <section id="add-classification" class="inv-add-page">
                    <h1><%- title %></h1>
                    <%- messages() %><% if (errors) { %><ul class="notice"><% errors.array().forEach(error => { %>
                        <li><%= error.msg %></li><% }) %>
                    </ul><% } %>
                    <form action="/inv/add/classification" method="post">
                        <label for="classification_name">Classification name</label>
                        <span>Must only use letters (a-zA-Z)</span>
                        <input type="text" name="classification_name" id="classification_name" placeholder="classificationName" pattern="^[a-zA-z]*$" value="<%= locals.classification_name %>" required>
                        <button type="submit">Add Classification</button>
                    </form>
                </section>