<%# html %><%# body %><%# div#wrapper%><%# main %>
                <section id="hero">
                    <h1>Welcome to CSE Motors!</h1>
                    <div id="callout">
                        <h2>DMC Delorean</h2>
                        <ul>
                            <li>3 Cup holders</li>
                            <li>Superman doors</li>
                            <li>Fuzzy dice!</li>
                        </ul>
                        <a href="cars/delorean">Own Today</a>
                    </div>
                </section>

                <section id="reviews">
                    <h2>DMC Delorean Reviews</h2>
                    <ul>
                        <li><q>So fast it's almost like traveling in time.</q>(4/5)</li>
                        <li><q>Coolest ride on the road.</q>(4/5)</li>
                        <li><q>I'm feeling McFly!</q>(5/5)</li>
                        <li><q>The most futuristic ride of our day.</q>(4.5/5)</li>
                        <li><q>80's livin and I love it!</q>(5/5)</li>
                    </ul>
                </section>

                <section id="upgrades">
                    <h2>Delorean Upgrades</h2>
                    <ul>
                        <li>
                            <figure>
                                <div>
                                    <img src="/images/upgrades/flux-cap.png" alt="flux capacitor upgrades" width="65" height="65">
                                </div>
                                <figcaption><a href="/upgrades/flux-capacitor">Flux Capacitor</a></figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <div>
                                    <img src="/images/upgrades/flame.jpg" alt="flame decal upgrade" width="65" height="82">
                                </div>
                                <figcaption><a href="assesories/decals/flames">Flame Decals</a></figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <div>
                                    <img src="/images/upgrades/bumper_sticker.jpg" alt="upgraded bumper with a sticker" width="65" height="57">
                                </div>
                                <figcaption><a href="assesories/decals/bumper-stickers">Bumper Stickers</a></figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <div>
                                    <img src="/images/upgrades/hub-cap.jpg" alt="hub cap upgrade" width="65" height="65">
                                </div>
                                <figcaption><a href="/upgrades/hub-caps">hub Caps</a></figcaption>
                            </figure>
                        </li>
                    </ul>
                </section>
