/*#region global*/
*,
*:before,
*:after {
    box-sizing: border-box;
    color: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
}

:root {
    color-scheme: light dark;

    --l-black: rgb(0, 0, 0);
    --d-black: rgb(255, 255, 255);
    --black: light-dark(var(--l-black), var(--d-black));

    --l-white: rgb(255, 255, 255);
    --d-white: rgb(0, 0, 0);
    --white: light-dark(var(--l-white), var(--d-white));

    --l-off-black: rgb(16, 16, 16);
    --d-off-black: rgb(15, 15, 15);
    --off-black: light-dark(var(--l-off-black), var(--d-off-black));

    --l-off-white: rgb(239, 239, 239);
    --d-off-white: rgb(228, 228, 228);
    --off-white: light-dark(var(--l-off-white), var(--d-off-white));

    --l-bright-yellow: rgb(255, 255, 175);
    --d-bright-yellow: rgb(223, 223, 143);
    --bright-yellow: light-dark(var(--l-bright-yellow), var(--d-bright-yellow));

    --l-tan: rgb(245, 245, 220);
    --d-tan: rgb(163, 163, 147);
    --tan: light-dark(var(--l-tan), var(--d-tan));

    --l-light-green: rgb(127, 159, 155);
    --d-light-green: rgb(64, 80, 78);
    --light-green: light-dark(var(--l-light-green), var(--d-light-green));

    --l-medium-green: rgb(80, 143, 145);
    --d-medium-green: rgb(40, 72, 73);
    --medium-green: light-dark(var(--l-medium-green), var(--d-medium-green));

    --l-dark-green: rgb(13, 88, 97);
    --d-dark-green: rgb(7, 44, 49);
    --dark-green: light-dark(var(--l-dark-green), var(--d-dark-green));

    --red: rgb(155, 0, 0);
    --contrast: 0.01em 0.01em 0.03em var(--off-white), -0.01em -0.01em 0.03em var(--off-black), 0 0 0.06em #888;
    --frosted: rgb(from var(--tan) r g b / 0.73333333333333);

    --base-blue: #01b0d3;
}

:root.dark {
    color-scheme: dark;
}

:root.light {
    color-scheme: light;
}

h1,
h2,
.siteName {
    font-family: 'Lora', serif;
}

b {
    font-weight: bold;
}

em {
    font-style: italic;
}

hr {
    border-color: var(--bright-yellow);
}

.notice {
    background-color: var(--bright-yellow);
    color: var(--red);
    list-style-type: none;
    margin: .5em 0;
    padding: .33em;
    text-align: center;
}

.notice:not(:has(li)) {
    display: none;
}

/*#endregion global*/

/*#region wrapper*/
html {
    color: var(--black);
    font-family: 'Cousine', monospace, monospace;
    font-size: 100%;
    height: 100%;
}

body {
    background-color: var(--tan);
    height: 100%;
    margin: 0;
    width: 100%;
}

#wrapper {
    background-color: var(--tan);
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 43.125em;
    width: 100%;
}

/*#endregion wrapper*/

/*#region header*/
header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

header a {
    text-decoration: none;
}

.siteName {
    font-size: 1.8em;
    font-weight: bolder;
    left: 0.32em;
    margin-right: .5em;
    position: relative;
    top: 0.48em;
}

#tools {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0 .25em;
    justify-content: right;
    position: relative;
    right: 0.5em;
    top: 1em;
}

#tools a {
    font-size: 0.93em;
    font-variant: small-caps;
    word-spacing: -0.33602em;
}

/*#endregion header*/

/*#region nav*/
nav {
    background-color: var(--off-black);
    color: var(--off-white);
    margin: 0 0.54em 0.125em;
}

nav ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: -0.125em;
    padding: 0.125em 0;
}

nav li {
    display: block;
    font-size: 0.9em;
    margin: 0;
    padding: 1em 0.125em;
}

nav a {
    text-decoration: none;
}

nav a:where(:hover, :focus-visible) {
    color: var(--bright-yellow);
    text-shadow: 0 0 0.125em var(--off-white);
}

/*#endregion nav*/

/* #region main */

h1 {
    font-size: 1.75em;
    margin: 0 .25em;
}

/* #endregion main */

/*#region footer*/

footer {
    margin-top: 0.33em;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}

footer p {
    font-size: 0.9em;
    margin-left: 0.6em;
    word-spacing: 0.277777em;
    display: inline-block;
}

footer a {
    font-size: .8em;
}

footer .modification-date {
    font-size: 11px;
    word-spacing: unset;
}

/*#endregion footer*/

/*#region home*/
#hero {
    background-color: var(--tan);
    background-image: url(../images/vehicles/delorean-clear.webp);
    background-repeat: no-repeat;
    background-size: contain;
    height: 10em;
    margin: 3.25em 2.8125em 0 2.75em;
    position: relative;
}

#hero h1 {
    font-size: 1.125em;
    left: -1.888888em;
    position: absolute;
    top: -2.055555em;
}

#callout {
    background-color: var(--frosted);
    color: var(--black);
    margin-left: -1.75em;
    margin-top: 0.375em;
    padding-bottom: 2.125em;
    position: absolute;
}

#callout h2 {
    font-size: 0.98em;
    font-weight: 900;
    margin-top: -0.191324em;
}

#callout ul {
    list-style: none;
}

#callout li {
    font-size: 0.675em;
    margin-top: 0.4em;
}

#callout a {
    background-color: var(--medium-green);
    border: 0.125em solid var(--dark-green);
    border-radius: 0.125em;
    color: var(--black);
    font-size: 0.77em;
    padding: 0.7em 0.66em 0.5em;
    position: absolute;
    text-decoration: none;
    text-shadow: var(--contrast);
    top: 5.43831em;
}

#callout a:hover {
    color: var(--bright-yellow);
}

#reviews ul {
    font-size: 0.946em;
}

#reviews li {
    margin: 0.991012em 0 -0.297305em 1.585625em;
}

#reviews q {
    margin: 0 0.06607em 0 -0.132135em;
}

section:where(#reviews, #upgrades) h2 {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0.170455em 0 0 0.511365em;
}

#upgrades {
    margin-top: 2.1875em;
}

#upgrades ul {
    display: grid;
    gap: 1em 0.5em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    list-style: none;
    margin: 0.9375em 1.0625em 0 0.75em;
    padding: 0;
    position: relative;
}

#upgrades li {
    margin-bottom: 0.8125em;
}

#upgrades figure {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    width: 100%;
}

#upgrades div {
    align-items: center;
    background-color: var(--medium-green);
    border: 0.0625em solid var(--dark-green);
    display: flex;
    flex: 1;
    justify-content: center;
    width: 100%;
}

#upgrades img {
    height: 4.75em;
    padding: 0.5em;
    width: auto;
}

#upgrades figcaption {
    color: var(--dark-green);
    font-size: 0.8em;
    padding-left: 0.25em;
    margin-top: 0.125em;
    text-align: center;
    word-spacing: 0.08333em;
}

#upgrades a:hover {
    color: var(--red);
    text-shadow: var(--contrast);
}

/*#endregion home*/

/*#region error*/
#error {
    background-color: var(--l-off-white);
    border: 1px solid;
    box-shadow: 0.33em 0.33em 0.66em var(--l-off-black), 0.33em 0.33em 0.66em 1px var(--l-off-white);
    color: var(--l-black);
    margin: 3em auto;
    padding: 0.25em 0.25em 0.66em;
    text-align: center;
    width: 60%;
}

#error h1 {
    display: flex;
    flex-direction: column;
    font-size: 2em;
}

#error span {
    border-bottom: 2px inset var(--dark-green);
}

#error code {
    font-family: 'Courier New', Courier, monospace, monospace;
    font-size: 0.75em;
    font-style: italic;
    margin-top: 0.33em;
}

#error p {
    margin: 0.66em 0;
}

#error div {
    background: #fff0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#error canvas {
    background-color: #0000;
    grid-row: 1;
    grid-column: 1;
    aspect-ratio: 1;
    border-radius: .25em;
    width: 100%;
    height: 100%;
}

#canvas {
    position: relative;
    box-shadow: .025em .025em .25em var(--black);
    font-size: 20px;
}

#canvas::before,
#canvas::after {
    content: ' ';
    z-index: -2;
    bottom: .75em;
    left: .18em;
    width: 40%;
    height: 20%;
    max-height: 13em;
    display: block;
    position: absolute;
    box-shadow: 0 13px 8px #979797;
    transform: rotate(-2deg);
}

#canvas::after {
    right: .75em;
    left: auto;
    transform: rotate(2deg);
}

#error canvas p {
    margin: 0;
}

/*#endregion error*/

/*#region classification*/

#inv-display {
    display: flex;
    flex-wrap: wrap;
    gap: 2.25em;
    list-style: none;
    margin: 0 2.5em;
    justify-content: space-evenly;
}

#inv-display li {
    background-color: var(--white);
    border: 1px solid #1e1e1e1e;
    border-radius: .5em;
    text-align: center;
}

#inv-display a {
    aspect-ratio: 1/1.1;
    display: grid;
    grid-template-columns: 170px;
    grid-template-rows: 120px auto;
    color: revert;
    text-decoration: none;
}

#inv-display img {
    border-radius: .5em;
    max-height: 120px;
    width: 100%;
}

.namePrice {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.namePrice hr {
    border-width: 2px;
    border-style: outset;
    border-color: var(--medium-green);
}

.namePrice h2 {
    font-weight: bold;
    text-decoration: underline;
}

.namePrice span {
    color: var(--black);
}

/*#endregion classification*/

/* #region details */

#inventory-details div {
    background-color: var(--white);
}

#inventory-details div:first-of-type {
    border-radius: 1em 1em 0 0;
}

#inventory-details div:last-of-type {
    border-radius: 0 0 1em 1em;
}

#inventory-details img {
    border-radius: 1em;
    height: auto;
    width: 100%;
    max-width: 450px;
}

#inventory-details h2 {
    border-bottom: .125em solid var(--dark-green);
    font-weight: bold;
    margin: 0;
    padding: 0 1em;
}

#inventory-details p {
    border-radius: .5em;
    margin: .5em;
    padding: .5em;
}

#inventory-details p:nth-of-type(odd) {
    background-color: var(--off-white);
    color: var(--off-black);
}

#inventory-details b {
    font-weight: bold;
}

/* #endregion details */

/* #region account */

input:not(:placeholder-shown):not(:focus-visible):invalid,
.input:has(input:not(:placeholder-shown):not(:focus-visible):invalid) {
    outline: 2px solid var(--red);
    box-shadow: 0 0 0 3px #fff;
}

.input {
    border: 2px inset ButtonBorder;
    display: inline-flex;
    gap: 8px;
    align-items: center;
}

.input:has(input:focus-visible) {
    outline: 1px auto;
}

/* specificity boost to override invalid styling */
.input input:is(:not(:valid), :not(:invalid)):is(:not(:valid), :not(:invalid)) {
    border: 0;
    box-shadow: none;
    flex: 1;
    outline: 0;
    padding: 0;
    width: 80%;
}

button.show-pw {
    background: none;
    border: 0;
    cursor: pointer;
    display: inline;
    font-size: .8em;
    margin: 0;
    opacity: .66;
    padding: 0;
}

html .hover-reveal {
    appearance: none;
    aspect-ratio: 1;
    background: none;
    border: 1px solid var(--off-white);
    border-radius: 999in;
    cursor: pointer;
    height: 1em;
    margin: 0;
    margin-left: .33em;
    opacity: .6;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 1em;
}

.hover-reveal::before {
    content: 'i';
    color: var(--off-white);
}

.hover-reveal:hover,
.hover-reveal:checked {
    opacity: 1;
}

.hover-show {
    display: none;
}

form:has(.hover-reveal:hover, .hover-reveal:checked) .hover-show {
    display: unset;
}

.pw-req {
    margin-top: 1em;
    font-size: .8em;
}

.pw-req li {
    list-style-type: disc;
    margin-left: .95em;
}

.account-page p {
    margin-top: .66em;
    text-align: center;
}

#logged-in hr {
    border-color: var(--light-green);
    border-width: 1px 0;
    margin: .4em 0 -.5em;
}

#logged-in form {
    padding: .5em 0;
    max-width: 90%;
    width: unset;
}

.account-update form:first-of-type {
    border-bottom: 2px inset var(--light-green);
    border-radius: .33em .33em 0 0;
}

.account-update form:last-of-type {
    border-top: 1px inset var(--light-green);
    border-radius: 0 0 .33em .33em;
}

form:has(.account-info) {
    text-align: center;
}
/* #endregion account */

/* #region forms */

form {
    background-color: var(--dark-green);
    border: 2px outset var(--light-green);
    border-radius: .33em;
    color: var(--off-white);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 400px;
    padding: .5em;
    position: relative;
    width: 66%;
}

form section {
    display: flex;
    flex-direction: column;
}

form h2 {
    font-size: 1.5em;
    margin-bottom: .33em;
}

form h3 {
    font-size: 1.33em;
    margin-bottom: .33em;
    margin-top: .66em;
}

form a,
form p {
    margin-bottom: .33em;
}

form input,
form .input,
form button,
textarea,
select,
option {
    background-color: var(--off-white);
    border-radius: .33em;
    color: var(--off-black);
    padding: .33em;
}

.select-unused {
    color: #1010108a
}

form label,
form .label,
form button[type=submit] {
    margin-top: 1em;
    margin-bottom: .25em;
    position: relative;
}

form label:first-of-type {
    margin-top: 0;
}

form label::before {
    color: var(--red);
    content: '*';
    display: inline-block;
    text-shadow: 0 0 1px var(--bright-yellow);
}

form button {
    align-items: center;
    border-radius: 999in;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: .33em .66em;
}

form :disabled {
    opacity: .66;
}

/* #endregion forms */

/* #region tables */

table {
    border: 1px solid var(--bright-yellow);
    border-spacing: 0;
    margin-top: .33em;
    overflow: hidden;
    border-radius: .5em;
}

table:empty {
    border: 0;
}

tr {
    background-color: #ffffff07;
    border-bottom: 1px solid var(--bright-yellow);
}

tr:nth-of-type(even) {
    background-color: #0003;
}

th {
    text-align: unset;
}

th,
td {
    padding: .33em;
}

th,
td:first-of-type {
    padding-left: .5em;
}

td:last-of-type {
    padding-right: .5em;
}

table a:hover {
    font-style: italic;
}

/* #endregion tables */

/* #region datalist */
dl {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: .33em;
    text-align: left;
}

dt {
    padding: .165em;
    padding-left: 1em;
}

dd {
    padding: .165em;
}

:where(dt,dd):nth-of-type(odd) {
    background-color: #0002;
}

/* #endregion datalist */

/* ups padding on nav list when screen width is 345px+; nav overflows if this is used by default */
@media screen and (min-width: 345px) {
    nav li {
        padding: 1em .5em;
    }
}