<%# html %><%# body %><%# div#wrapper%><%# main %>
                <section id="inventory-details"><%# !NYI! messages() %>
                    <h1><%- title %></h1>
                    
                    <%- page %>
                </section>