<%# html %><%# body %><%# div#wrapper%><%# main %>
                <div id="error">
                    <h1>
                        <span>Error: <%- title %></span>
                    </h1>
                    <p><%- message %></p>
                </div>
